**/*.hdf5
**/*.pyc
**/*.hdf5
**/*.h5
**/*.pyc
**/.ipynb_checkpoints/*.*
**/*.zip
**/*.csv
**/*.tfrecord
**/*.jpg
**/*.JPG
**/*.jpeg
**/*.JPEG
**/*.png
**/*.PNG
**/*.index
**/checkpoints/*.*
**/checkpoint
**/*.xml
**/ckpts/
**/*.ttf
**/ckpt*.*
**/*.mp4
**/*.7z*
**/*.npy
**/*.zip
**/*.gif
**/*.GIF